{% extends 'core/base.html' %}

{% block title %} Proyectos {% endblock %}

{% block content %}
{% for proyecto in proyectos %}
<div class="px-4 pt-5 my-5 text-center">
  <h1 class="display-4 fw-bold text-body-emphasis secundarios">{{proyecto.titulo}}</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4 descripcion">{{proyecto.descripcion}}</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">

      <a href="{{proyecto.link}}"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Ver en
          Github</button></a>
    </div>
  </div>
  <div>
    <div class="container px-5">
      <img src="{{proyecto.imagen.url}}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="project image"
        width="700" height="500">
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}